SECRET_KEY=[secret-key]
DB_NAME=[database-name]
DB_USER=[database-user]
DB_PASSWORD=[database-password]
DEFAULT_FROM_EMAIL=[default-sender]
EMAIL_HOST=[email-host]
EMAIL_HOST_USER=[host-unique-id]
EMAIL_HOST_PASSWORD=[host-password]
EMAIL_PORT=[email-port]

MAILGUN_EMAIL_HOST_PROD=[email-host]
MAILGUN_EMAIL_HOST_USER_PROD=[host-unique-id]
MAILGUN_EMAIL_HOST_PASSWORD_PROD=[host-password]
MAILGUN_EMAIL_PORT_PROD=[email-port]